{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>MOHAN UPPANAPALLI</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/mohan.jpg' %}" >
					<hr>
					<h4>Hi, I'm Mohan</h4><br>
					<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px; ">I love to read books on RUNESTONE academy <br>& surfing on internet for innovative ideas </p>
					<hr>
					<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px; ">•NASSCOM certified python developer <br>
						• achieved 94.0 %---Written on 22-AUG-2023
					</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>PROJECTS</h4>
					<hr>
					<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px; height:100%;text-align:center;padding:10px;"><b>LOGIN SYSTEM</b> | using django, mysql <br>
						aug-2023
						<a href="https://github.com/umohankumar/login_signup_system"><b>project git link</b></a> <br>
						• <b>AIM</b>: To create login, singup pages and handle them by
						storing the data in database. <br>
						• <b>DESCRIPTION</b>: Initially started with DJANGO for
						creating basic setup like virtual environment, project, apps
						creation, configuring settings.py, urlpatterns,
						views.py.Thereafter created two functions for performing
						login action, signup action.Implemented PDBC concepts to
						make the functions work with database.Created attarctive
						userinterface using HTML5, CSS3. This is a simple login,
						signup, signout project. <br>
						<b>Technologies/frameworks used</b>: Python,DJango, HTML5,
						CSS3, MySQL
						</p>

					<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px; height:100%;text-align:center;padding:10px;"><b>RESUME WEBSITE</b> | using html, css, django <br>
						aug-2023
						<a href="https://github.com/umohankumar?tab=repositories"><b>project git link</b></a> <br>
						• <b>AIM</b>: To create my own resume website. <br>
						• <b>DESCRIPTION</b>: After completion of basic setup of django
						then in this project i mostly focussed on implementing
						html, css. This is a simple resume website. <br>
						<b>Technologies used</b>: DJango, HTML5, CSS3, BOOTSTRAP</p>

					

					<ul class="social-links">
						<li><a href="https://instagram.com/mohan_kumar_uppanapalli?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"><img class="social" src="{% static 'images/instalogo.png' %}"></a></li> &nbsp;&nbsp;

						<li><a href="https://www.linkedin.com/in/mohan-uppanapalli-84a36161 "><img class="social" src="{% static 'images/Linked.png' %}"></a></li>&nbsp;&nbsp;

						<li><a href="https://twitter.com/mku312177"><img class="social" src="{% static 'images/twitter.png' %}"></a></li>&nbsp;&nbsp;

						<li><a href="https://www.youtube.com/@umohankumar"><img class="social" src="{% static 'images/youtube.png' %}"></a></li>&nbsp;&nbsp;

						<li><a href="https://github.com/umohankumar"><img class="social" src="{% static 'images/git.png' %}"></a></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Educational Qualification</h5>
					<hr>
					<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px; height:50px; text-align:center;padding:10px;">B.E(Mechanical Engg.)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;2013-2017 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.4/10</p>
					<hr>
					<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px;height:50px;text-align:center;padding:10px;">XII standard(M.P.C) &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2012&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;95.2%</p>
					<hr>
					<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px;height:50px;text-align:center;padding:10px;">SSC&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2010 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;79%</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Professional Skills</h5>
					<hr>
					<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px; height:100%;text-align:center;padding:10px;">  •PYTHON- learned & implemented OOPs with PDBC <br>
						• Able to write SQL queries & PL/SQL programs<br>
						• Handson Practice on Oracle DB & MySql<br>
						• knowledge on Nosql MONGODB<br>
						• Implemented HTML5 & CSS3 during DJango projects<br>
						• Handson Practice on DJANGO FRAMEWORK<br><br>
						Familiar with NUMPY, PANDAS, REGEX
						</p><br>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Assignments</h5>
					<hr>
					<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px; height:100%;text-align:center;padding:10px;"><b>OOPS WITH PDBC</b> | univ_coll_stud_db.py <br>
						july 2023, Implemented concepts of Python & Sql <br>
						<b>AIM</b> : To create user defined classes
						& to make that classes work with database. <br>
						<b>DESCRIPTION</b>: In this, i created three classes named as
						’Univ’,’College’,’Student’ and make the userto enterthe
						details.I implemented INHERITANCE principle & PDBC
						concepts.
						Thereafter created a table in database for DML
						operations <br>
						<b>TOOLS USED</b>: VS code, OracleDB</p>

					<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px; height:100%;text-align:center;padding:10px;"><b>ATM CASE STUDY</b> | modules based <br>
						july 2023 using Python Modules & Exception Handling <br>
						<b>AIM</b> : To create of various user defined modules,
						importing of modules & handling of errors <br>
						<b>DESCRIPTION</b>: we know atm operations like withdraw,
						deposit, bal enquiry i created modules & implemented try,
						except, else concepts for handling exceptions.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Soft skills</h5>
				<hr>
				<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px; height:100%;text-align:center;padding:10px;">Good at Written Communication <br> <br>
					Moderate Communication Skills <br> <br>
					Good at English Fluency
					</p>
					<hr>
				<h5>Motivation</h5>
				<hr>
				<p style="background: linear-gradient(#80FFDB, #5390D9); border-radius:8px; height:100%;text-align:center;padding:10px;"><b>WHAT I BELIEVE IN</b> <br> <br>
					I’m a trustworthy person who believes in comapany’s growth as
					my growth</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>